html {
  font-family: Georgia, serif;
}

body {
  background-color: #495562;
  color: #fff;
}

.btn-ghost {
  color: #fff;
  border: 3px solid #97a49b;
}

.btn-ghost:hover {
  border: 3px solid #efefef;
  background-color: #efefef;
  color: black;
}

.banner {
  max-height: 500px;
}

header {
  overflow: hidden;
}

.content {
  background-image: linear-gradient(to top, rgba(73, 85, 98, .9), transparent);
}

@media only screen and (min-width: 38em) {

  .btn {
    float: right;
  }
}

@media only screen and (min-width: 60em) {

  body {
    background-color: #fff;

  }

  header {
    position: relative;
    max-height: 500px;
  }

  .content {
    position: absolute;
    bottom: 0;
    left: 0;
  }

  .btn-ghost {
    border: 3px solid #fff;
  }

}
